{% extends 'collab/base.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
          <center><h1 id="home-head">Welcome to TechCollab!</h1>
          <p>A site for tech people to find and collaborate with other tech people locally!</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p></center>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

        </div>

    </div>

{% endblock %}