{% extends 'collab/base.html' %}
{% block title %}{{ project.title }}{% endblock %}

{% block body %}
    <div class="container"></div>
    <h1>{{ project.title }}</h1>
    <h3>{{ project.founder }}</h3>
    <h3>{{ project.city }}</h3>
    <h4>{{ project.description }}</h4>
    <h3>{{ project.date }}</h3>
    <h2>Collaborators</h2>
    {% for collab in project.collaborators.all %}
        {{ collab }}
        <br>
    {% endfor %}
    <hr>
    {% for skill in project.skills_needed.all %}
        {{ skill }} <br>
    {% endfor %}
    <hr><hr><hr>
    <p>**authenticated area for founder's eyes only**</p>
    <h2>Matches ranked by relevancy</h2>
    {% for match in project.matches.all %}
        {{ match }} **view profile **send request **remove from list {{ match.id.rank }}
        <br>
    {% endfor %}


{% endblock %}