{% extends 'collab/base.html' %}
{% block title %}TechCollab | {{ project.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                <center>
                <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  View Matches!! <span class="caret"></span>
                </button>
                <div class="collapse" id="collapseExample">
                  <div class="well">
                        {% if match_list %}
                            {% for m in match_list %}
                            <div class="row" style="padding:5px; font-size: 20px;">
                                <div class="col-md-1 col-md-offset-3">
                                    <form action="{% url 'accounts:request-send' project.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="recipient_id" value="{{ m.user.id }}"/>
                                        <button type="submit" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <a href=" {{ m.user.userprofile.get_absolute_url }}">{{ m }}</a> matches on {{ m.rank }} skills.
                                </div>
                                <div class="col-md-1">
                                    <form action="{% url 'collab:project-delete' project.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="project_id" value="{{ project.id }}"/>
                                        <button type="submit" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </form>
                                </div>
                                <br>
                            </div>
                            {% endfor %}
                        {% else %}
                            <h4>No matches... yet!</h4>
                        {% endif %}
                  </div>
                </div>
                <div class="heading">{{ project.title }}</div>
                {% for soc in project.socialproj_set.all %}
                     <a href="{{ soc.url }}" target="_blank"><span class="{{ soc.get_platform_display }}"></span></a>&nbsp;
                {% endfor %}
                </center>
                <div class="row container-fluid">
                    <div class="panel">
                        <div class="panel-body">
                    <div class="col-md-6">
                        <div class="well color">
                            <h4>{{ project.city }}</h4>
                            <hr>
                            <h3>{{ project.description }}</h3>
                            <hr>
                            <h5>{{ project.date }}</h5>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Skills Needed</h2>
                        {% for skill in project.skills_needed.all %}
                            <div class="skill">{{ skill }}</div>
                        {% endfor %}

                        <h2>Collaborators</h2>
                        <h4>Creator: <a href="{% url 'accounts:profile' project.founder %}">{{ project.founder }}</a></h4>
                        {% for collab in project.collaborators.all %}
                            <a href=" {{ collab.user.userprofile.get_absolute_url }}">{{ collab }}</a>
                            <br>
                        {% endfor %}

                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}