{% extends 'collab/base.html' %}
{% block title %} {{ user.username }} {% endblock %}

{% block body %}
    <div class="container">
        <h1>User profile page</h1>
        <p>{{ user.username }}</p>
        <p>{{ user.userprofile.city }}</p>
        {% for soc in user.userprofile.social_set.all %}
            <p>{{ soc.platform }}: <a href="{{ soc.url }}" target="_blank">{{ soc.url }}</a> </p>
        {% endfor %}
        <hr>
        <hr>
        {% for skill in user.userprofile.skills.all %}
            {{ skill }} <br>
        {% endfor %}
    </div>


{% endblock %}