{% extends 'collab/base.html' %}
{% block title %}TechCollab | {{ user.username }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">

                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                <center>
                <button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  View Matches!! <span class="caret"></span>
                </button>
                <div class="collapse" id="collapseExample">
                  <div class="well">
                        {% if match_list %}
                            {% for m in match_list %}
                            <div class="row" style="padding:5px; font-size: 20px;">
                                <div class="col-md-1 col-md-offset-1">
                                    <form action="{% url 'accounts:request-send' m.project.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="recipient_id" value="{{ m.user.id }}"/>
                                        <button type="submit" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-md-8">
                                    <a href=" {{ m.project.get_absolute_url }}">{{ m.project }}</a> matches on {{ m.rank }} skills.
                                </div>
                                <div class="col-md-1">
                                    <form action="{% url 'collab:project-delete' m.project.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="project_id" value="{{ m.project.id }}"/>
                                        <button type="submit" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </form>
                                </div>
                                <br>
                            </div>
                            {% endfor %}
                        {% else %}
                            <h4>No matches... yet!</h4>
                        {% endif %}
                  </div>
                </div>
                </center>

                <hr>
                <div class="row container-fluid">
                    <div class="col-md-4">
                        <center>
                        <h1 class="heading" style="font-size: 25px;">{{ user.username }}</h1>
                        <img src="{{ user.userprofile.pic_url }}" class="img-responsive" style="width: 150px;">
                        <h5>{{ user.userprofile.phone }}</h5>
                        <h5>{{ user.userprofile.email }} </h5>
                        {% for soc in user.userprofile.socialuser_set.all %}
                            <a href="{{ soc.url }}" target="_blank"><span class="{{ soc.get_platform_display }}"></span></a>&nbsp;
                        {% endfor %}
                        </center>
                    </div>
                    <div class="col-md-8 panel panel-default color">
                        <div class="panel-body color">
                            <h3>{{ user.userprofile.name }} </h3>
                            <h5>{{ user.userprofile.pronouns }}</h5>
                            <div class="well">

                                <div class="row">
                                    <div class="col-md-2">
                                        <strong>City:</strong>
                                    </div>
                                    <div class="col-md-10">
                                        <h4> {{ user.userprofile.city }} </h4>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-2">
                                        <strong>Skills:</strong>
                                    </div>
                                    <div class="col-md-10">
                                        {% for skill in user.userprofile.skills.all %}
                                            <div class="skill">{{ skill }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-2">
                                        <strong>Bio:</strong>
                                    </div>
                                    <div class="col-md-10">
                                        {{ user.userprofile.bio }}
                                    </div>
                                </div>
                                <hr>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}